.content {
  
  padding: 0.5rem;


  h1 {
    text-align: center;
    margin: 1rem;
  }

  h4 {
    margin-top: 13rem;
    margin-bottom: 1rem;
  }

  .list {

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    text-align: center;

    .card {

      background: rgba(255, 255, 255, 0.62);
      border-radius: 0.5rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);

      .category {
        padding: 0.3rem;
        h6 {
          color: rgb(182, 46, 9);
        }
      }
    }

    h2 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      // resize: both;
    }
    img {
      object-fit: cover;
      object-position: center center;
      border-radius: 0.5rem 0.5rem 0 0;
      max-width: 180px;
      aspect-ratio: 1/1;
    }
  }
}
